img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 85%;
    max-width: 95%;
    width: auto;
    height: auto;
    border: 3px solid #ccc;
}

table {
    border: 1px solid black;
}

th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
